* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215; /* el color de fondo */
  color: #f3f3f3; /* Texto main*/
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 900px; 
  padding: 2rem;
}